[Desktop Entry]
Name=LliureX Store
Name[es]=Tienda de Lliurex
Name[ca]=Botiga de Lliurex
Comment=Get apps from store
Comment[es]=Busca aplicaciones disponibles
Comment[ca]=Cerca aplicacions disponibles
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=llxstore
X-KDE-PluginInfo-Name=LliureX Store
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=net.lliurex.store
X-Plasma-DBusRunner-Path=/
X-Plasma-Runner-Min-Letter-Count=3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Author=juanma1980
X-KDE-PluginInfo-Email=juanma1980@gmail.com
X-KDE-PluginInfo-Name=lliurexstore
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL3

