[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AppsEdu
Comment=Software center
Exec=/usr/bin/appsedu %U
Icon=appsedu
Type=Application
GenericName=appsedu
Categories=System;LliureX-Administration;
MimeType=application/vnd.flatpak.ref;x-scheme-handler/appstream;x-scheme-handler/ocs;x-scheme-handler/ocss;x-scheme-handler/snap;
