<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <action id="net.lliurex.rebost.software-manager.launcher">
	<message gettext-domain="/usr/share/rebost/helper/rebost-software-manager.sh">Authentication is required to manage software</message>
    <icon_name>epi-gtk</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
	<annotate key="org.freedesktop.policykit.exec.path">/usr/share/rebost/helper/rebost-software-manager.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
