polkit.addRule(function(action, subject) {
	if ( action.id == "net.lliurex.store.installer"){
		const members = ['admins', 'sudo',"teachers"];
		if (members.indexOf('*')>=0){
			return polkit.Result.YES;
		}
    return polkit.Result.NO;
	}
});

